{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Edit Comment') }}</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            {{ form.body(class='form-control', rows=4) }}
            {% for error in form.body.errors %}
                <span class="help-block text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class='btn btn-primary') }}
            <a href="{{ url_for('post_detail', id=comment.post_id) }}"
               class="btn btn-default">{{ _('Cancel') }}</a>
        </div>
    </form>
{% endblock %}
