{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Edit Comment') }}</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.body.label(class='form-label') }}
                    {{ form.body(class='form-control', rows=4) }}
                    {% for error in form.body.errors %}<div class="text-danger small">{{ error }}</div>{% endfor %}
                </div>
                <div class="d-flex gap-2">
                    {{ form.submit(class='btn btn-primary') }}
                    <a href="{{ url_for('post_detail', id=comment.post_id) }}" class="btn btn-secondary">{{ _('Cancel') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
