{% extends "base.html" %}

{% block app_content %}
    <h3>{{ _('Search Results') }}
        {% if q %}<small>for "{{ q }}" in {{ search_type }}</small>{% endif %}
    </h3>

    {% if q %}
        {% if posts %}
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
        {% else %}
            <p class="text-muted">{{ _('No posts found.') }}</p>
        {% endif %}
    {% else %}
        <p class="text-muted">{{ _('Enter a search term above.') }}</p>
    {% endif %}
{% endblock %}
